body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  text-align: center;
}

div {
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

input, button {
  padding: 10px;
  font-size: 1em;
  margin: 10px;
}

#search {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#search:hover {
  background-color: #45a049;
}

#current-weather {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 400px;
}

#location-name {
  font-size: 1.5em;
}

#temperature {
  font-size: 2em;
  margin: 10px 0;
}

#weather-condition {
  font-size: 1.2em;
  font-weight: bold;
}

#weather-icon {
  max-width: 100px;
  margin: 10px auto;
  display: block;
}

#additional-info {
  font-size: 1em;
  margin-top: 10px;
}

span{
  font-weight: bold;
}